<header>
    <div class="ca-header">
        <img src="/assets/images/cate.png" onclick="randomHeader()">
        <div class="ca-header-text">
            <h2>{% if page.title %}{{ page.title }} - cookisite{% else %} cookisite{% endif %}</h2>
            <p id="randomHeader">default header</p>
        </div>
    </div>
    <div class="ca-tabscontainer">
        <a class="ca-tablinks" href="/"><i class="nerd-font nf-fa-home"></i> home</a>
        <a class="ca-tablinks" href="/test"><i class="nerd-font nf-md-space_invaders"></i> debug</a>
    </div>
</header>