@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=M+PLUS+Rounded+1c&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("/assets/css/nerdfonts.css");
@import url('/assets/css/squaresans.css');


:root {
    --header-font: "PF Square Sans Pro", sans-serif;
    --main-font: "Fredoka", sans-serif;
    --jp-font: "M PLUS Rounded 1c", sans-serif;
    --codeblock-font: "Ubuntu Mono", monospace;

    --accent-color: #f86;
    --text-color: color-mix(in srgb, var(--accent-color), white 70%);
    --body-color: color-mix(in srgb, var(--accent-color), rgba(0, 0, 0, 0.25) 95%);

    --banner-image: url(/assets/images/banner.png);

    --body-filters: blur(20px);
    --body-shadow: 0 0 32px rgba(0, 0, 0, 0.75);

    --background-color: color-mix(in srgb, var(--accent-color), black 80%);
    --background-tile: url(/assets/images/tiles/cattile_dark.png);
    --background-tile-size: 420px;
    --background-animation-speed: 25s;
    --background-opacity: 0.05;
    --background-vignette: radial-gradient(circle, transparent 50%, var(--background-color) 100%);

    --main-width: 1000px;
    --roundiness: 8px;

    --min-width: 520px;
}

@media (pointer:none),
(pointer:coarse) {
    :root {
        --body-filters: none;
        --body-color: color-mix(in srgb, var(--accent-color), rgba(0, 0, 0, 1) 70%);

        --background-tile: none !important;
        --background-animation-speed: 0 !important;

    }
}

/*
==== html styles ====
*/

body {
    --sb-track-color: var(--body-color);
    --sb-thumb-color: var(--accent-color);
    --sb-size: 6px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

body::-webkit-scrollbar:horizontal {
    height: var(--sb-size);
}

body::-webkit-scrollbar-track:horizontal {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:horizontal {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        scrollbar-width: thin;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--main-font);
    background: var(--background-color);
    color: var(--text-color);
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}

h1,
h2 {
    font-weight: 600;
    margin: 12px 0;
}

p {
    font-size: 18px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), rgb(255, 255, 255) 25%);
    text-decoration: underline;
}

blockquote {
    padding: 12px 32px 12px 16px;
    margin: 0;
    border-left: 4px solid var(--accent-color);
    border-radius: var(--roundiness);
    background-color: rgba(255, 255, 255, 0.025);
    width: fit-content;
}

blockquote>p {
    margin: 0;
}

#everything {
    margin: 0 auto;
    max-width: var(--main-width);
    min-width: var(--min-width);
}

/*
    =============
    header styles
    =============
*/

.ca-header {
    user-select: none;
    position: relative;
    background: var(--banner-image) no-repeat right 60%;
    background-color: var(--body-color);
    backdrop-filter: var(--body-filters);

    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 120px;
    object-fit: cover;
    display: flex;
    align-items: center;
    z-index: 2;
    border-bottom-left-radius: var(--roundiness);
    border-bottom-right-radius: var(--roundiness);
    border-left: var(--header-border) solid var(--accent-color);
}

.ca-header>img {
    width: 96px;
    height: 96px;
    padding: 12px;
    transition-duration: 0.25s;
}

.ca-header>img:hover {
    transform: scale(1.02);
}

.ca-header>img:active {
    transform: scale(0.98);
}

.ca-header-text {
    margin-left: 6px;
    margin-top: -6px;
}

.ca-header-text h2 {
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    -webkit-text-stroke: 0.15em color-mix(in srgb-linear, var(--accent-color), rgb(0, 0, 0) 90%);
    paint-order: stroke fill;
    color: color-mix(in srgb-linear, var(--accent-color), white 50%);
}

.ca-header-text p {
    height: 18px;
    margin: 2px 0;
}

/* ====== header tabs ====== */

.ca-tablinks {
    --padding: 12px;
    position: relative;
    padding: calc(var(--padding) / 3) var(--padding);
    width: fit-content;
    background-color: var(--body-color);
    backdrop-filter: var(--body-filters);
    margin: 0 3px 0 0;
    padding-top: 4px;
    color: var(--text-color);
    text-decoration: unset;
    font-size: 0.8em;
    top: 0;

    border-bottom-left-radius: var(--roundiness);
    border-bottom-right-radius: var(--roundiness);
    z-index: 0;
    transition-duration: 0.1s;
}

.ca-tablinks:nth-child(1) {
    margin-left: 16px;
}

.ca-tablinks:hover {
    top: 2px;
    padding-bottom: 9px;
    padding-top: 24px;
    color: color-mix(in srgb, var(--accent-color), white 80%);
    background: linear-gradient(180deg, color-mix(in srgb, var(--accent-color), rgba(255, 255, 255, 0.25) 50%) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: color-mix(in srgb, var(--accent-color), rgb(0, 0, 0) 50%);
}

/*
    ===========
    main styles
    ===========
*/

.ca-maincontent {
    margin: 18px auto 32px auto;
    padding: 16px 16px;
    border-radius: var(--roundiness);
    border: 8px solid rgba(255, 255, 255, 0.01);
    box-shadow: var(--body-shadow);

    background-color: var(--body-color);
    backdrop-filter: var(--body-filters);

    min-height: calc(100vh - 266px);
}

.ca-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.ca-backgroundimg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--background-tile-size));
    height: calc(100% + var(--background-tile-size));
    background: var(--background-tile) repeat;
    background-size: var(--background-tile-size);
    opacity: var(--background-opacity);
    animation: cattile var(--background-animation-speed) linear infinite;
}

@keyframes cattile {
    0% {
        transform: translate(calc(-1 * var(--background-tile-size)), calc(-1 * var(--background-tile-size)));
    }
    100% {
        transform: translate(0, 0);
    }
}

.ca-backgroundoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-vignette);
}

/*
    ===========
    footer styles
    ===========
*/

footer {
    margin: 8px 0 16px 0;
}

.ca-footer {
    max-width: fit-content;
    margin: 0 auto;
}

.ca-footer p {
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    color: var(--text-color);
}

.ca-footer a {
    font-size: 24px;
    margin: 0 4px;
}

/*
    ============
    misc. styles
    ============
*/

.ca-emote {
    height: 1.6em;
    width: auto;
    object-fit: contain;
    margin: -0.45em 0;
}

.ca-jp {
    font-family: var(--jp-font);
    font-weight: 800;
}

/* table */

table {
    width: fit-content;
    margin: 0 auto;
}

thead th:first-child {
    border-top-left-radius: var(--roundiness);
}

thead th:last-child {
    border-top-right-radius: var(--roundiness);
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--roundiness);
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--roundiness);
}

th,
td {
    padding: 10px;
    border: 1px solid color-mix(in srgb, var(--text-color), transparent 50%);
    text-align: left;
}

/* general buttons for ui stuff maybe??? i dont know */

.ca-button {
    cursor: pointer;
    margin: 4px;
    padding: 6px 8px;
    border-radius: calc(var(--roundiness) * 0.75);
    background: linear-gradient(180deg, color-mix(in srgb, var(--accent-color), rgba(0, 0, 0, 0.25) 75%) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: color-mix(in srgb, var(--accent-color), rgba(255, 255, 255, 0.1) 90%);
    user-select: none;
    transition-duration: 0.25s;
}

.ca-button:hover {
    text-decoration: none;
    color: color-mix(in srgb, var(--accent-color), white 80%);
    background: linear-gradient(180deg, color-mix(in srgb, var(--accent-color), rgba(255, 255, 255, 0.25) 50%) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: color-mix(in srgb, var(--accent-color), rgb(0, 0, 0) 50%);
}

.ca-button:active {
    background: linear-gradient(180deg, color-mix(in srgb, var(--accent-color), rgba(0, 0, 0, 0.25) 50%) 0%, rgba(255, 255, 255, 0) 100%);
    background-color: color-mix(in srgb, var(--accent-color), rgb(0, 0, 0) 60%);
}

/* i'm the original
        starwalker
*/
.starwalker,
#randomHeaderCounter {
    background: linear-gradient(to bottom, #E2E297, #ffc400);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 500;
}
